@model IEnumerable<PIAProWeb.Models.dbModels.Producto>
@{
         ViewData["Title"] = "Componentes";

}
<div class="container">
    <div class="row">
        @foreach(Producto item in Model){

        <div class="col-lg-4 p-3 mx-auto">
         <div class="card" style="width: 15rem;">
                <img src="~/Fotos/Productos/@Html.DisplayFor(modelItem => item.ImagenProducto)" width="300" height="150" class="card-img-top" alt="...">
        <div class="card-body">
                    <h5 class="card-title" @Html.DisplayFor(modelItem => item.NombreProducto)>Nombre Producto</h5>
                    <p class="card-text" @Html.DisplayFor(modelItem => item.PrecioProducto)>Precio Producto</p>
            <input type="number" placeholder="cantidad de producto">
                    <a asp-action="Create" class="btn btn-primary">Agregar al Carrito</a>
        </div>    
            </div>
    </div>
    }
</div>
</div>