@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/Fotos/Logo/computer_central-removebg-preview.png" />
</div>
<h1 id="nosotrosh1">Nosotros</h1>
<p id="nosotrostxt">Computer Central es una empresa dedicada a ofrecer a nuestros clientes los productos necesarios para 
    armar su propia computadora, ya sea para el ambito laboral, estudiantil o gamer, enfocando en las necesidades que cada
    uno de estos posee, nuestra meta sempre sera ofrecer la venta de componentes de calidad.</p>

<div class="container">
    <div class="row">

<h1 class="contactanos">Contactanos</h1>
        <div class="col-lg-6 p-3 mx-auto">
    <h4 class="contactanos">Nuestra Ubicacion</h4>
    <b >Dirección</b>
    <p >Av.Morones Prieto #1101</p>
    <p >Col. Nuevo Repueblo, CP: 64700</p>
    <p >Monterrey, N.L.; México</p>

    </div>
        <div class="col-lg-6 p-3 mx-auto" >
    <h4 >Telefono</h4>
    <b >(+52)8189453861</b>

</div>
</div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224.76645118308056!2d-100.30474854496386!3d25.66256783333673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662bfcd3580478b%3A0xc3a07c0b4c1d0f06!2sMichoac%C3%A1n%20513%2C%20Nuevo%20Repueblo%2C%2064700%20Monterrey%2C%20N.L.!5e0!3m2!1ses-419!2smx!4v1669398586137!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>