@model IEnumerable<PIAProWeb.Models.dbModels.Carrito>
<nav>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
</nav>
<head>
    <script src="https://kit.fontawesome.com/e3579fd25f.js" crossorigin="anonymous"></script>
</head>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.CantidadProducto)*@
                Imagen

            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.IdProductoNavigation)*@
               Nombre
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.IdProductoNavigation)*@
                Precio
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.IdProductoNavigation)*@
                Cantidad
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@*@foreach (var item in Model) {*@
        <tr>
            <td>
                    @*<img src="~/Fotos/Productos/@Html.DisplayFor(modelItem => item.ImagenProducto)" width="300" height="150" />*@ Imagen
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.IdProductoNavigation.NombreProducto)*@ Nombre
            </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.IdProductoNavigation.PrecioProducto)*@ Precio
                </td>
                <td>
                    <input type="number" placeholder="Ingrese la cantidad que desea agregar al carrito">
                </td>
            <td>
                <i class="fa-thin fa-trash"></i>
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>

    </tbody>
</table>
 <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">El precio final de su compra es de </h5>
        <p class="card-text">aqui va el precio final.</p>
        <a class=" btn btn-primary">Proceder al Pago</a>

    </div>
