html {
  font-size: 14px;
  background-color:antiquewhite;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#nosotrostxt{
    margin-right:20rem;
}
#nosotrosh1{
    color:blue;
}
.contactanos{
    padding-top: 1rem;
}

