@model PIAProWeb.Models.dbModels.CategoriaProducto

<nav>
    @{
        Layout = "_LayoutAdmin";
        ViewData["Title"] = "Delete";
    }
</nav>
<header>
<h1>Borrar Categorias</h1>
</header>

<h3>Estas seguro de querer eliminar esta categoria?</h3>
<section>
    <h4>CategoriaProducto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCategoria" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</section>
